@import url('https://fonts.googleapis.com/css2?family=Noto+Sans&display=swap');
* {
	padding:0;
	margin:0;
	box-sizing: border-box;
}
.body{
    padding: 0%;
}

.images{
	align-items: center;
}
.html,.body{
    width:100%;
    height:100%;
    margin:0;
    padding:0;
    overflow-x:hidden;
    margin-bottom: 0;
    margin-right: 0rem;
    
    
}
.main{
    height: 100%;
	margin:auto;
	text-align:center;
    padding:0;
    overflow-x:hidden;
}
#container-fluid {
    height: auto;
    width: auto;
    margin: auto;
    position:relative;
    top: 60rem;
	margin-right: auto;
	margin-left: auto;
	padding-left: 0;
	padding-right: 0;
}
body{
	background: linear-gradient(150deg, #fa7720, #fc6005) !important;
	
}
.card{
	background: linear-gradient(150deg, #ff0e06, hsla(7, 96%, 49%, 0.966)) !important;
	/*background-color: #fa0808 !important;*/
	opacity: 100%;
	margin-bottom:10px;
	margin-left:10px;
	border-radius:0;
    align-items: center;
    text-align: center;
	box-shadow:5px 5px 15px rgba(252, 79, 4, 0.8);
	transition:all 0.3s ease-in;
	-webkit-transition:all 0.3s ease-in;
	-moz-transition:all 0.3s ease-in;
	width:65rem;
}

.card h5{
	color:#f5eeee;
}
p{
	color:#111111;
}
.card:hover h5{
	color:rgb(17, 17, 17);

}
.card:hover{
	background-color:#800000 !important;
	transition:0.5s;
	transform: scale(1.1);

	border-radius:5px;
	border:none;
	box-shadow:5px,5px,10px,#f3b0b0;
}